@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}

body {
  background-color: #b4e4af;
  margin: 0;
  padding: 0;
}

h2 {
  color: #016a70;
  font-weight: lighter;
  text-align: center;
}

header {
  background-color: #81b214;
  display: flex;
  border-radius: 0 0 50px 50px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.header-title {
  max-width: 50%;
  display: inline;
}

.header-title h1 {
  color: #f7e987;
  font-size: 4em;
  max-width: 100%;
  text-align: center;
}

.header-title h3 {
  font-size: 2em;
  font-weight: lighter;
  color: #f1f1e8;
  margin-left: 3em;
}

main {
  display: flex;
  padding: 20px;
  gap: 1.5em;
}

#content {
  display: flex;
  flex: 3;
  flex-flow: column nowrap;
  gap: 1em 2em;
}

.container {
  max-width: 100%;
  background-color: #f1f1e8;
  padding: 10px;
  border-radius: 50px;
  border: dashed 5px #016a70;
  color: #016a70;
}

.section-content {
  padding: 1em;
}

#input-menu .section-content {
  display: flex;
}

.form-wrapper {
  display: flex;
  flex: 5;
  position: relative;
  flex-direction: row;
  max-width: 100%;
}

.addBooks {
  margin: 1em;
  width: 100%;
}

label {
  width: 100%;
  margin: 5px;
  font-size: 1.2em;
  color: #016a70;
}
.checkbox {
  display: flex;
}

.checkbox input {
  width: 10%;
}

input {
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  background-color: hsl(79, 100%, 82%);
  border-color: #81b214;
}

input::placeholder {
  color: #016a70;
  font-size: 1.2em;
}

.submit-btn button {
  background-color: #016a70;
  color: #f1f1e8;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 1em;
}

.image-wrapper {
  flex: 2;
}

.image-wrapper img {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

#side-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#searchBooks {
  max-width: 100%;
  display: flex;
}

#searchBooks button,
#searchBooks i {
  border-radius: 10px;
  background-color: hsl(79, 100%, 82%);
  border-color: #81b214;
  color: #016a70;
}

.editModal,
.deleteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.editModal .container,
.deleteModal .container {
  background-color: #f1f1e8;
  margin: 15% auto;
  padding: 20px;
  border: 5px dashed #016a70;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
  color: red;
}

footer {
  background-color: #81b214;
  padding: 20px;
  border-radius: 50px 50px 0 0;
  text-align: center;
  color: #f7e987;
  font-weight: lighter;
  font-size: 1.2em;
}

footer a,
i {
  color: #f7e987;
  text-decoration: none;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  * {
    max-width: 100%;
  }
  .header-title,
  .container,
  footer {
    font-size: 50%;
  }
  .header-title {
    text-align: center;
    max-width: 100%;
  }

  .header-title h3 {
    margin-left: 0.1em;
  }

  main {
    display: inline;
  }
  .container {
    margin: 20px;
  }

  img {
    display: none;
  }
}
